<HTML>

<HEAD>

<TITLE>Scrum Master</TITLE>

</HEAD>


<HR>

<H1>Brian Lopez</H1>

<H2>Front end developer</H2>

My email is: <a href="mailto:support@yourcompany.com">

blopez5@mail.sfsu.edu</a>.

<P> I am currently a senior at San Francisco State and am from Los Angeles.

<P> This is my last year here at SFSU and I am excited to be graduating in the spring of 2020. 

<BR> I am excited to be working as the Scrum Master for this group and I am assisting my team with the front end development of this software project. 

<HR>

</BODY>

</HTML>