<HTML>

<HEAD>

<TITLE>Khyo</TITLE>

</HEAD>

<BODY>

{% load static %}
<img src="{% static "images/khyo.jpg" %}" alt="My image">

<H1>U Khyoi Nu</H1>

<H2>Team Lead</H2>

<p>I am a graduate student in Computer Science at SF State University. I completed my BSc. in Computer Science and Engineering from Shahjalal University
of Science and Technology, Sylhet, Bangladesh. I worked as a Software Development Intern at Backpack Technologies Inc. for six months. I have experinece
in working with C, Java, JavaScript, Python, React, NodeJS, Laravel, Bootstrap, MySQL, PHP, HTML, CSS etc.</p>

<P>Contact me at <a href="mailto:unu@mail.sfsu.edu"> unu@mail.sfsu.edu</a>. Visit my portfolio <a href="https://khyokhyo.github.io">here</a>.</P>

</BODY>

</HTML>