<HTML>

<HEAD>

<TITLE>Backend Developer</TITLE>

</HEAD>

<BODY BGCOLOR="FFFFFF">

<HR>

<H1>Srushti Buddhadev</H1>

<H2>Backend developer</H2>

Send me mail at <a href="mailto:support@yourcompany.com">

sbuddhadev@mail.sfsu.edu</a>.

<P> I have completed my bachelors in computer engineering in Nirma University, India.

<P> This is my first time in United States and I have started my masters in Computer Science. 

<BR> Currently, this is my first semester and I will be contributing in a software project as a part of completion towards software engineering course. I will be working as one of the backend developers of my team.

<HR>

</BODY>

</HTML>