{% extends "site/base.html" %}
{% block content %}
 <HTML>

	<HEAD>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<TITLE>Logs</TITLE>
	</HEAD>
	<BODY>

		<H1>Vertical Prototype (Milestone 2)</H1>

		<form method="post" action="/food/">
			{% csrf_token %}
			<div class="container">
			
		    <div class="form-group row">
				<label class="col-sm-1 col-form-label"></label>
				<div class="col-sm-4">
					<h3>Enter Details</h3>
				</div>
		    </div>
		    <div class="form-group row">
				<label class="col-sm-2 col-form-label" for="name">Food Name</label>
				<div class="col-sm-4">
					{{ form.name }}
				</div>
		    </div>
		    <div class="form-group row">
				<label class="col-sm-2 col-form-label" for="calories">Calories</label>
				<div class="col-sm-4">
					{{ form.calories }}
				</div>
		    </div>
		    <div class="form-group row">
				<label class="col-sm-2 col-form-label" for="expiration_age">Expiration Age</label>
				<div class="col-sm-4">
					{{ form.expiration_age }}
				</div>
		    </div>
		    <div class="form-group row">
				<label class="col-sm-1 col-form-label"></label>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
		    </div>
	    </form>

	    <table class="table table-striped table-bordered table-sm">
	    	<thead class="thead-dark">
	    		<tr>
	    			<th>Name</th>
	    			<th>Calories</th>
	    			<th>Expiration Age</th>
	    		</tr>
	    	</thead>
	    	{% if foods %}
	    	<tbody>
	    	{% for f in foods %}
	    		<tr>
	    			<th>{{ f.name }}</th>
	    			<th>{{ f.calories }}</th>
	    			<th>{{ f.expiration_age }}</th>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    	{% endif %}
	    	
	    </table>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</BODY>

	</HTML>
{% endblock content %}