{% extends "site/base.html" %}
{% block content %}
  <HTML>

	<HEAD>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<TITLE>Logs</TITLE>
	</HEAD>
	<BODY>

		<H1>Vertical Prototype (Milestone 2)</H1>

		<br/>
		<form action="/search/" method="GET" value="{{request.GET.name}}">
		Search <input type="text" name="name" value="{{request.GET.name}}" placeholder="Search posts"/>
		<input type="submit" name="submit" value="Search"/>
		</form>

		{% if submitbutton == 'Search' and request.GET.name != '' %}
		{% if results %}
		<table class="table table-striped table-bordered table-sm">
	    	<thead class="thead-dark">
	    		<tr>
	    			<th>Name</th>
	    			<th>Calories</th>
	    			<th>Expiration Age</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    	{% for result in results %}
	    		<tr>
	    			<th>{{ result.name }}</th>
	    			<th>{{ result.calories }}</th>
	    			<th>{{ result.expiration_age }}</th>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>
		{% else %}
		<b>No search results for this query</b>
		{% endif %}
		{% endif %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</BODY>

	</HTML>
{% endblock content %}
