<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    


    <title>Ceres</title>

	<link href="/static/css/landing-page.min.css" rel="stylesheet">
	<link href="/static/css/general.css" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--data Tables-->
    <!--
      here is the url for more information about Datatables:
        https://datatables.net/
  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>

    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.js"></script>

    <script type="text/javascript"
        src="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>




    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                responsive: true,
                select: true,
                //Here you chage the default sorting.
                //currently set to the fourth column 
                //in descending order.
                // it follows array counting: 0,1,2,3
                "order": [3, 'dec'],

            });
            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#example tbody').on('click', '#removeButton', function () {
                table
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
            });

            $('#saveButton').click(function () {
                var data = table.$('input, select').serialize();
                alert(
                    "The following data would have been submitted to the server: \n\n" +
                    data.substr(0, 120) + '...'
                );
                return false;
            });



        });

    </script>

</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-color">
		<a class="navbar-brand" href="{% url 'landing' %}">Ceres</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
						
		<ul class="nav navbar-nav ml-auto">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'inventory' %}">Inventory</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'receipt' %}">UploadReceipt</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'group' %}">Fridge</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'mygrouplist' %}">ShoppingList</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'invitations' %}">Invitation</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'recipe' %}">Recipe</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'signout' %}">Log out</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'about' %}">About us</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'signin' %}">Sign in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'signup' %}">Sign up</a>
			</li>
			{% endif %}
			</ul>
			<form class="form-inline my-2 my-lg-0">
			</form>
		</div>
	</nav>
	<small class="text-muted text-center"> SFSU Software Engineering Project CSC 648-848, Fall 2019.  For Demonstration Only</small>
    <header class="text-black text-center">
        <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Inventory Search</h1>
        </div>
    </header>

    <button id="removeButton">Delete selected row</button>
    <button id="saveButton">Save Form</button>
    <button id="addRow">Add new row</button>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Calories</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        {% if foods %}
        <tbody>
            {% for f in foods %}
            <tr>
                <th>{{ f.food.name }}</th>
                <th>{{ f.quantity }}</th>
                <th>{{ f.food.calories }}</th>
                <th>{{ f.expiration_date }}</th>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>



</body>
</html>
 <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
<footer class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="text-center text-color-green">Design by <a href="{% url 'about' %}" class="text-color-green">SFSU students</a></p>
    </div>
  </div>
</footer>