{% extends "site/base.html" %}
{% block content %}


<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
		<form>
		  <div class="form-row">
			<div class="col-12 col-md-6 mb-2 mb-md-0">
			  <button type="button" onclick="location.href = '{% url 'signin' %}'  "class="btn btn-block btn-lg button-color">Search Inventory</button>
			</div>
			<div class="col-12 col-md-6">
			  <button type="button" onclick="location.href = '{% url 'signup' %}'  "class="btn btn-block btn-lg button-color">Sign up!</button>
			</div>
		  </div>
		</form>
	  </div>
{% endblock content %}
