.bg-color-lightgreen {
	background-color: #98FB98;
}

.button-color {
	background-color: #33CC33;
	border-color: #177013;
	color: white;
}

.navbar-color {
	background-color:#177013;
}

.text-color-green {
	color: #177013;
}

.text-color-white {
	color: white;
}