{% extends "site/base.html" %}
{% block content %}
		<HR>

		<H1 style="color:#177013;">Meeting Logs</H1>

		<H2 style="color:#177013;">Meeting dates</H2>

		<P> <button type="button" class="btn button-color"><a href="sept10/" class="text-color-white"> Sept10 </a> </button>
		<P> <button type="button" class="btn button-color"><a href="sept12/" class="text-color-white"> Sept12 </a> </button>
		<P> <button type="button" class="btn button-color"><a href="sept16/" class="text-color-white"> Sept16 </a> </button>
		<P> <button type="button" class="btn button-color"><a href="sept19/" class="text-color-white"> Sept19 </a> </button>
		<P> <button type="button" class="btn button-color"><a href="sept23/" class="text-color-white"> Sept23 </a> </button>

		<HR>
{% endblock content %}
